<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=node-width, initial-scale=1">

    <!-- Include Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Optional theme -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.css" rel="stylesheet"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0-rc.2/jquery-ui.js"></script>

    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>

<div class="container" style="margin-top: 8%">
    <div class="col-md-15 col-md-offset-6">
        <div class="row" style="margin-left: 0px">
            <div id="logo" class="text-center">
                <p>Start typing the location of where you would like view!</p>
            </div>
            <form role="form" id="form-buscar">
                <div class="form-group">
                    <div class="input-group">
                        <input id="1" class="form-control autocomplete" type="text" name="search" placeholder="Search..." required/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- include Vue.js -->
<!-- we include babel js so that we can write ES6 code in the browser
     for a more production like setup it is recommended to setup a build process
     to transpile and minify the code (such as using webpack)
 -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>

<script th:inline="javascript">
    var locations = [[${allLocations}]];
    var mapped = $.map(locations, function (value) {
        return {
            label: value.headerName + " - " + value.subHeaderName,
            value: value.id
        }
    })

    $(function() {
        $(".autocomplete").autocomplete({
            source: function (request, response) {
                var localResults = $.ui.autocomplete.filter(mapped, request.term);
                response(localResults);
            },
            select: function (event, ui) {
                window.location.href = "/location/" + ui.item.value;
            },
            minLength: 2
        });
    });
</script>
</body>
</html>